// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    background-color: aqua;
    text-align: center;
}

.logout-button {
    border: 1px solid black;
}